In [1]:
import pandas as pd

# Data (simplified)
data = {'Product': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Region': ['North', 'South', 'North', 'South', 'North', 'South'],
        'Time': ['2023-Q1', '2023-Q1', '2023-Q2', '2023-Q2', '2023-Q3', '2023-Q3'],
        'Sales': [100, 150, 120, 180, 200, 220]}

df = pd.DataFrame(data)

# Cube: Pivot Table (Mimicking Cube)
cube = df.pivot_table(values='Sales', index=['Product', 'Time'], columns='Region', aggfunc='sum')

# 1. Roll-up (Aggregate data from detailed to summarized level)
rollup = df.groupby('Product')['Sales'].sum()

# 2. Drill-down (More detailed level of data)
drilldown = df[df['Product'] == 'A']  # Detailed data for Product A

# 3. Slice (Select a single dimension to create a sub-cube)
slice_data = cube.loc['A']  # Sales data for Product A

# 4. Dice (Select two or more dimensions to create a sub-cube)
dice_data = df[(df['Product'] == 'A') & (df['Region'] == 'North')]  # Sales for Product A in North region

# 5. Pivot (Rotate the cube, reorienting the data)
pivot_data = df.pivot_table(values='Sales', index='Region', columns='Product', aggfunc='sum')

# Display results
print("Cube:\n", cube)
print("\nRoll-up (Summarize Sales across Products):\n", rollup)
print("\nDrill-down (Detailed Sales data for Product A):\n", drilldown)
print("\nSlice (Sales data for Product A):\n", slice_data)
print("\nDice (Sales for Product A in North region):\n", dice_data)
print("\nPivot (Reoriented data):\n", pivot_data)

Cube:
 Region           North  South
Product Time
A       2023-Q1    100    150
B       2023-Q2    120    180
C       2023-Q3    200    220

Roll-up (Summarize Sales across Products):
 Product
A    250
B    300
C    420
Name: Sales, dtype: int64

Drill-down (Detailed Sales data for Product A):
   Product Region     Time  Sales
0       A  North  2023-Q1    100
1       A  South  2023-Q1    150

Slice (Sales data for Product A):
 Region   North  South
Time
2023-Q1    100    150

Dice (Sales for Product A in North region):
   Product Region     Time  Sales
0       A  North  2023-Q1    100

Pivot (Reoriented data):
 Product    A    B    C
Region
North    100  120  200
South    150  180  220

In [2]:
data = {'Product': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Region': ['North', 'South', 'North', 'South', 'North', 'South'],
        'Time': ['2023-Q1', '2023-Q1', '2023-Q2', '2023-Q2', '2023-Q3', '2023-Q3'],
        'Sales': [100, 150, 120, 180, 200, 220]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

  Product Region     Time  Sales
0       A  North  2023-Q1    100
1       A  South  2023-Q1    150
2       B  North  2023-Q2    120
3       B  South  2023-Q2    180
4       C  North  2023-Q3    200

In [5]:
cube = df.pivot_table(values='Sales', index=['Product', 'Time'], columns='Region', aggfunc='sum')

In [6]:
cube

Region           North  South
Product Time
A       2023-Q1    100    150
B       2023-Q2    120    180
C       2023-Q3    200    220

In [8]:
# 1. Roll-up (Aggregate data from detailed to summarized level)
rollup = df.groupby('Product')['Sales'].sum()
rollup

Product
A    250
B    300
C    420
Name: Sales, dtype: int64

In [9]:
# 2. Drill-down (More detailed level of data)
drilldown = df[df['Product'] == 'A']  # Detailed data for Product A
drilldown

  Product Region     Time  Sales
0       A  North  2023-Q1    100
1       A  South  2023-Q1    150

In [10]:
slice_data = cube.loc['A']  # Sales data for Product A
slice_data

Region   North  South
Time
2023-Q1    100    150